[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.5.3"
urllib3 = ">=2.6.3"
pydantic = ">=2"
typing-extensions = ">=4.7.1"

[dev-packages]

[requires]
python_version = "3.7"
